<!DOCTYPE html>
<html>
	<head>
		<title>Alarm</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet"  href="/stylesheets/main.css">
	</head>
	<body>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Temperature Alarm</a>
		</div>
		<div class="collapse-navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href ="http://aravindweb.in">Home</a></li>
			
			</ul>
		</div>
	</div>
</nav>

